.timer {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.value {
  font-size: 40px;
}

.label {
  text-transform: uppercase;
}

input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.btn-start {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  background: #4e75ff;
}
.btn-start:disabled {
  background-color: #989898;
}
.btn-start:hover {
  background: #6c8cff;
}
.flatpickr-input {
  font-size: 20px;
}
